@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

video {
  object-fit: cover;
  min-width: 100%;
}
::placeholder,
textarea,
input {
  color: rgba(0, 0, 0, 0.65);
}
button,
textarea,
input {
  outline: none !important;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}
input[type="range"]:focus {
  border: none;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #f2f2f3;
  overflow: hidden;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 100%;
  width: 45px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 5px;
  background: #3380cc;
}

.brand-modal:first-child {
  margin-right: 15px;
  margin-bottom: 15px;
}
.brand-modal:nth-child(2) {
  margin-left: 15px;
  margin-bottom: 15px;
}
.brand-modal:nth-child(3) {
  margin-right: 15px;
  margin-top: 15px;
}
.brand-modal:last-child {
  margin-left: 15px;
  margin-top: 15px;
}

.brand_image:first-child {
  height: 157px;
  width: 157px;
  margin-right: 62px;
  margin-left: 62px;
}

.flex-brands > button {
  flex: 0 0 27.9%;
}

@media only screen and (max-width: 639px) {
  #brand-section {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .flex-brand {
    flex: 1 0 30%;
  }
  .brand-modal:first-child {
    width: 157px;
    height: 157px;
    margin: 0 88px;
    flex: 0 1 100%;
  }
  .brand-modal:nth-child(2) {
    width: 100px;
    height: 100px;
    margin: 16px 5px 0 0;
  }
  .brand-modal:nth-child(3){
    width: 100px;
    height: 100px;
    margin: 16px 5px 0 5px;
  }
  .brand-modal:last-child {
    width: 100px;
    height: 100px;
    margin: 16px 0 0 5px;
  }
  .img-size {
    width: 235px !important;
    height: 200px !important;
  }
  #mainTitle {
    width: 24rem;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .img-size {
    width: 340px !important;
    height: 340px !important;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .flex-brand {
    flex: 1 0 28%;
  }
  .brand-modal:first-child {
    width: 215px;
    height: 215px;
    margin: 10px 176.5px 0 176.5px;
    flex: 0 1 100%;
  }
  .brand-modal:nth-child(2){
    width: 172px;
    height: 172px;
    margin: 28px 13px 0 0;
  }
  .brand-modal:nth-child(3){
    width: 172px;
    height: 172px;
    margin: 28px 13px 0 13px;
  }
  .brand-modal:last-child {
    width: 172px;
    height: 172px;
    margin: 28px 0 0 13px;
  }
  .flex-brands > button {
    flex: 0 0 21.1%;
  }
}
@media only screen and (min-width: 768px) {
  .brand_image:first-child {
    margin: 0.5rem;
    height: 147px;
    width: 147px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  #brand-section {
    max-width: 586px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .flex-brands > button {
    flex: 0 0 21.8%;
  }
  #brand-section, .navbar {
    max-width: 718px;
    margin-right: auto;
    margin-left: auto;
  }
  .flex-brand {
    flex: 1 0 28%;
  }
  .brand-modal:first-child {
    width: 215px;
    height: 215px;
    margin: 10px 176.5px 0 176.5px;
    flex: 0 1 100%;
  }
  .brand-modal:nth-child(2){
    width: 172px;
    height: 172px;
    margin: 28px 13px 0 0;
  }
  .brand-modal:nth-child(3){
    width: 172px;
    height: 172px;
    margin: 28px 13px 0 13px;
  }
  .brand-modal:last-child {
    width: 172px;
    height: 172px;
    margin: 28px 0 0 13px;
  }
  .flex-brands > button {
    flex: 0 0 21.8%;
  }
}
@media only screen and (min-width: 1024px) {
  .img-size {
    width: 370px !important;
    height: 370px !important;
  }
  .brand_image:first-child {
    height: 150px;
    width: 150px;
    margin: 1.25rem;
  }
  .max-h-80 {
    max-height: 90vh !important;
  }
}
@media only screen and (min-width: 1025px) {
  #nosotros {
    margin-right: 235px;
    margin-left: 235px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .flex-brands > button {
    flex: 0 0 21.74%;
  }
  #brand-section, .navbar {
    max-width: 904px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .brand_image:first-child {
    margin: 1.5rem;
    height: 150px;
    width: 150px;
  }
  .flex-brands > button {
    flex: 0 0 22.46%;
  }
}

.contactBackground {
  background-color: rgba(231, 238, 249, 0.3);
}

.send-text{
  font-size: 26px !important;
}

@media screen and (max-width: 425px){
  .flex-brand{
    max-width: 320px;
    margin: 0 auto;
  }
  .modal-xs{
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}