@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw !important;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}
input[type="range"]:focus {
  border: none;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #F2F2F3;
  overflow: hidden;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 100%;
  width: 45px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0 0 0 #3380CC, -40px 0 0 #3380CC, -85px 0 0 #3380CC, -130px 0 0 #3380CC,
     -175px 0 0 #3380CC, -220px 0 0 #3380CC, -265px 0 0 #3380CC, -310px 0 0 #3380CC,
     -350px 0 0 #3380CC, -390px 0 0 #3380CC, -309px 0 0 #3380CC,
     -435px 0 0 #3380CC, -480px 0 0 #3380CC, -525px 0 0 #3380CC, -570px 0 0 #3380CC, -615px 0 0 #3380CC,
     -660px 0 0 #3380CC, -705px 0 0 #3380CC, -750px 0 0 #3380CC, -795px 0 0 #3380CC, -840px 0 0 #3380CC, 
     -885px 0 0 #3380CC, -930px 0 0 #3380CC, -975px 0 0 #3380CC, -1020px 0 0 #3380CC, -1065px 0 0 #3380CC, -1100px 0 0 #3380CC, -1145px 0 0 #3380CC;
  background: #3380CC;
}


@media only screen and (min-width:1025px) {
  #brand-section {
    margin-right:135px;
    margin-left: 135px;
  }
}
@media (min-width:640px) and (max-width:1024px) {
  #brand-section {
    margin-right:60px;
    margin-left: 60px;
  }
}
@media only screen and (max-width:639px) {
  #brand-section {
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width:1025px) {
  #nosotros {
    margin-right:235px;
    margin-left: 235px;
  }
}


button {
  outline: none !important;
}

.shadow {
  box-shadow: 10px 10px 10px rgba(49, 74, 90, 0.16);
}

.card-shadow {
  box-shadow: 0px 0px 10px rgba(49, 74, 90, 0.16);
}

.card-shadow:hover {
  box-shadow: 0px 0px 20px rgba(49, 74, 90, 0.16);
}

.img-size {
  width: 23rem;
  height: 23rem;
}

.w-72 {
  width: 18rem;
}

@media (max-width: 639px) {
  .img-size {
    width: 14rem;
    height: 14rem;
  }
  .w-72 {
    width: 100%;
  }
}

::placeholder {
  color: rgba(0, 0, 0, 0.50);
}